<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <mapping class="br.unirio.wsimxp.entity.Site"/>
        <mapping class="br.unirio.wsimxp.entity.User"/>
        <mapping class="br.unirio.wsimxp.entity.Activity"/>
        <mapping class="br.unirio.wsimxp.entity.Scenario"/>
        <mapping class="br.unirio.wsimxp.entity.Value"/>
    </session-factory>
</hibernate-configuration>